<!-- <p>
  diary-form works!
</p> -->
<!-- Issue form page -->
<!-- <div class="container">
  <h2 class="display-2 my-3">Issue form</h2> -->

  <!-- <form [formGroup]="diaryForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Title"
          required
          formControlName="title" 
        />
        <div class="invalid-feedback">
          Please provide a title!
        </div>
      </div>
      <div class="form-group">
        <label for="text">Text</label>
        <textarea
          class="form-control"
          id="text"
          rows="5"
          required
          formControlName="text" 
        ></textarea>
        <div class="invalid-feedback">
          Please provide a Diary Text!
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary"
        [disabled]="diaryForm.invalid"
      >Submit</button>
    </form> -->



  <!-- </div> -->
  

  <!-- Issue form page -->
<!-- <div class="container">
  <h2 class="display-2 my-3">Issue form</h2> -->

  <!-- </div> -->




  <!-- Issue form page -->
<!-- <div class="container">
  <h2 class="display-2 my-3">Issue form</h2> -->

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title" required 
        formControlName="title" 
        [class.is-invalid]="title.invalid && (title.dirty || title.touched)" />
      <div class="invalid-feedback">
        Please provide a title!
      </div>
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <textarea class="form-control" id="text" rows="5" required
        formControlName="text"
        [class.is-invalid]="text.invalid && (text.dirty || text.touched)"></textarea>
      <div class="invalid-feedback">
        Please provide a text!
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="place">Place</label>
      <input type="text" class="form-control" id="place" placeholder="Place" required pattern="^PC\d+"
        formControlName="place" 
        [class.is-invalid]="place.invalid && (place.dirty || place.touched)" />
      <div class="invalid-feedback" *ngIf="place.invalid && place.errors.required">
        Please provide a place!
      </div>
      <div class="invalid-feedback" *ngIf="place.invalid && place.errors.pattern">
        Please should start with PC!
      </div>
    </div> -->
    <!-- <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" id="status" required formControlName="status">
        <option value="NEW">New</option>
        <option value="DOING">Doing</option>
        <option value="DONE">Done</option>
      </select>
      <div class="invalid-feedback">
        Please provide a status!
      </div>
    </div> -->
  
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>
  <!-- </div> -->