<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Diary</h1>
    <p class="lead">Submit Diaries</p>
    <p style="font-weight: bold"> Num of Diarys: {{numOfDiarys(diarys)}}</p>

  </div>
</div>