<!-- 
<div class="container">
    <h2 class="display-2 my-3">My Diarys</h2>
    <p><a class="btn btn-primary" routerLink="/diarys/new" role="button">New diary</a></p>
  
    <div class="row">
      <div class="col">  
        <div class="list-group">
          <a *ngFor="let diary of filteredDiarys" class="list-group-item list-group-item-action"
            (click)="selectedDiary = diary"
            [class.selected]="diary === selectedDiary"
            [routerLink]="['/diarys', diary.id]"
          >
            <div class="d-flex w-100 justify-content-between align-items-center">
              <h5 class="mb-1">{{ diary.title }}</h5>
            </div>
            <p class="mb-1">
              {{ diary.text}}
            </p>
            <small>
              <i class="fas fa-calendar-alt"></i> 2019.01.01.
              <i class="fas fa-comment"></i>
            </small>
          </a>
        </div>
      </div>
  
      <div class="col" *ngIf="selectedDiary">
        <app-diary-form [diary]="selectedDiary" (save)="handleFormSubmit($event)"></app-diary-form>
      </div>
    </div>
  </div> -->

 
<div class="container">
  <h2 class="display-2 my-3">diary entries</h2>
  <p><a class="btn btn-primary" routerLink="/diarys/new" role="button">New diary entry</a></p>

  <div class="row">
    <div class="col">
      <div class="list-group">
        <a *ngFor="let diary of diarys" class="list-group-item list-group-item-action"
        >
          <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="mb-1">{{ diary.title }}</h5>
            <small><p class="mb-1">{{ diary.updated_at }}</p></small>
              <a class="btn btn-primary"  [routerLink]="['/diarys', diary.id, 'edit']" role="button">Edit</a>
          </div>
          <p class="mb-1">
            {{ diary.text}}
          </p>
          <p class="mb-1">
            <i class="fas fa-comment"></i>
          </p>

       
        </a>
      </div>
    </div>

  </div>
</div>